body{
 background: url('/static/single_pages/images/back-ground.png') no-repeat center center fixed;
 -moz-background-size: cover;
 -background-size: cover;
 -o-background-size: cover;
 -webkit-background-size: cover;
}

section{
    margin-bottom: 150px
}

.card {
    background: rgba(255, 255, 255, 0.7);
}
